<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Profile</title>
  </head>
  <body>
    <h2>Edit Profile</h2>
    <form method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" value = '{{ username }}' required>
        <br>
        <label for="gender">Gender:</label>
        <input type="radio" name="gender" value="male" checked = {{ male }}> Male
        <input type="radio" name="gender" value="female" checked = {{ female }}> Female<br>
      <button type="submit">Save Changes</button>
    </form>
  </body>
<h4> <a href = '../'>Logout</a></h4>
</html>