<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset</title>
  </head>
  <body>
    <h2>Welcome {{ username }}</h2>
    <h3>Reset Password</h3>
    <form method="POST">
      <label for="pass">Password:</label>
      <input type="password" name="pass" required>
        <br>
      <label for="confirmpass">Confirm Password</label>
      <input type="password" name="confirmpass" required>

      <button type="submit">Reset</button>
    </form>
  </body>
<h4> <a href = '../'>Logout</a></h4>
</html>